.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: .3rem 3rem;
    font-size: 1.3rem;
    background-color: $yellow;
    color: $dark-grey;
    border: 3px solid $dark-grey;
    font-weight: 700;
    border-radius: .5rem;
    transition: all .2s linear;
    &:hover {
        letter-spacing: .3rem;
    }
}