.box-container {
    padding: 1rem;
    header {
        text-align: center;
        position: relative;
        width: 100%;
        padding-top: 3rem;
    }
    form {
        text-align: center;
        padding-top: 2.5rem;
        a {
            color: $light-grey;
            margin: .3rem .5rem;
            display: flex;
            justify-content: center;
            &:hover {
                color: $white;
                text-decoration: none;
            }
            @media (min-width: 480px) {
                display: inline-block;
            }
        }
        div {
            margin-top: .5rem;
            .icon {
                font-size: 2rem;
                margin: 0 .5rem;
                color: $light-grey;
                &:hover {
                    color: $white;
                }
            }
        }
    }
}