.container-feed {
    header {
        position: relative;
        width: 100%;
        padding: 1rem 6rem 0 2rem;
    }
    .bootcamps {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 2rem 3rem;
        @media (min-width: 680px) {
            padding: 2rem 5rem;
        }
    }
}
.button-header {
    display: none;
    position: absolute;
    top: 1rem;
    right: 1rem;
    .btn {
        margin-right: .7rem;
    }
    @media (min-width: 1200px) {
        display: flex;
        flex-direction: column;
    }
}
.button-inscribir {
    position: absolute;
    right: 1rem;
    bottom: .5rem;
    .btn {
        margin-right: .7rem;
    }
}
.toggle-menu {
    position: absolute;
    top: 1rem;
    right: 1rem;
    @media (min-width: 1200px){
        display: none;
    }
}
