@import './base/base';
@import './base/settings';

// components
.btn {
    background-color: $primary;
    color: $dark-grey;
    border: 3px solid $dark-grey;
    font-weight: 700;
    border-radius: .5rem;
    &:hover {
        letter-spacing: .1rem;
        background-color: $primary;
        color: $dark-grey;
        border: 3px solid $dark-grey;
    }
}