@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200;300;400;600;700&display=swap');

* {
    font-family: 'IBM Plex Mono', monospace;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    text-decoration: none;
}

html,
body {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    background-color: #28578A;
}

main {
    width: 100%;
}

.mt-1 {
    margin-top: 5px;
}
.mt-5 {
    margin-top: 20px;
}
.mb-1 {
    margin-bottom: 5px;
}
.mb-5 {
    margin-bottom: 20px;
}
.pointer {
    cursor: pointer;
}
.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}